.one {
    /* height: 200px; */
    font-size: 4em;
}

.search__container {
    padding-top: 3.7vh;
    padding-left: 1vh;
    /* width: 430px; */
    margin: 0 auto;
    /*     background-color: #F7CAC9; */
    font-family: 'Raleway', sans-serif;
    float: left;
}

.search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    /* color: #ff8b88; */
}

.search__input {
    /* width: 100%; */
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}


/* 星星 */

.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
}

.empty-stars:before,
.full-stars:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 14pt;
}

.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
    -webkit-text-stroke: 1px orange;
}

.star {
    display: flex
}

#comment_numebr {
    padding-left: 10px;
}


/* #header {
    background-color: #eee
} */

.nav_item_bar>input#search {
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 35px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding-right: 45px;
    width: 200px;
    margin: 0px;
    margin-top: 1.7em;
}

button {
    position: absolute;
    width: 70px;
    height: 40px;
    top: 30px;
    left: 24em;
    opacity: 0.01;
}

.nav_item_bar {
    /* display: flex; */
    align-items: center;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

.nav_item_bar>img {
    height: 44px;
    width: 50px
}

.add_class {
    border: 0;
    background-color: #9BC4CB;
    color: #187695;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.add_class:hover {
    color: #007791;
    background-color: #fff;
    width: 150px;
    height: 50px;
}

.about #content .gray-bg {
    padding: 100px 0;
    text-align: center;
    background-color: #CEDADA;
}

.about #content .gray-bg .count {
    font-size: 36px;
}

.about #content .gray-bg h4 {
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    color: #323232;
}

.about #content .clients {
    padding: 100px 0;
}

.about .summary i {
    display: block;
    margin-bottom: 10px;
    font-size: 36px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

p {
    color: #7e7e7e;
    line-height: 30px;
    font-size: 20px;
    font-family: "黑體";
    /* Arial”, ” */
    /* Microsoft YaHei */
    /* ”, ”黑體”, ”宋體”, sans-serif; */
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: block;
    width: 1170px;
    margin: 0 auto;
}

.class_chapter_section_container {
    display: block;
    width: 70%;
    /* width: 1170px; */
    margin: 0 auto;
}

#class_chapter_section {
    display: flex;
    margin: 0 auto;
}

.teacher {
    width: 30%;
    margin-top: -6em;
    /* border-radius: 0 2px 8px 0 rgba(0, 0, 0, 0.12) */
}

.teacher_name {
    font-size: 25px;
    text-align: center;
    height: 100px;
    background-color: #ededed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    line-height: 4em;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12)
    /* margin-top: 15px;
    margin-bottom: 15px */
}

.teacher_detail {
    background-color: #ededed;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: "PingFang TC", "微軟正黑體", sans-serif;
    line-height: 1.5em;
    box-shadow: 0 2px 8px 0 #cccccc;
}

.teacher_intro {
    margin-top: 1em;
}

.small_icon {
    display: flex;
    justify-content: center;
}

.small_icon img {
    width: 3em;
    margin: 10px;
}

.picture_circle {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
    font-family: 'object-fit: cover; object-position: bottom;';
    margin-left: 4.5em;
    padding-top: 1.5em;
}

.picture img {
    border-radius: 50%;
    overflow: hidden;
    height: 170px;
    width: 170px;
    border: 2px solid white;
    display: inline-block;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
}

.container.full-width {
    width: 100%;
}

.button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background: #fff;
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.button.bordered {
    border: 1px solid black;
}

.clearfix:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}

.chapter_section_detail {
    float: left;
}

.row {
    padding-bottom: 7vh;
    ;
    margin: 0 -15px;
}

.col-2,
.col-3,
.col-4,
.col-6,
.col-12 {
    float: left;
    padding: 0 30px;
}

.col-2 {
    width: 16.66666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333%;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}

.col-10 {
    font-size: 20px;
}

#logo {
    float: left;
    width: 100px;
    height: 100px
}

.search {
    padding: 0 12px;
    color: black;
    float: left;
    font-size: 20px;
    line-height: 100px;
    text-decoration: none;
    font-family: Microsoft JhengHei;
}

#nav {
    float: right;
    /* margin-left: 69em; */
    text-transform: uppercase;
    line-height: 100px;
}

#nav li {
    float: left;
}

#nav a {
    padding: 0 12px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: Microsoft JhengHei;
}

#nav .active a {
    /* margin-left: 32%; */
    color: #209cc5;
    font-family: Microsoft JhengHei;
}

.boundary:after {
    content: "|";
    padding: 0 12px;
}

#content>div {
    padding-top: 100px;
}

#content>div.full-padding {
    padding: 100px 0;
}

#content>div.gray-bg {
    background: #f5f5f5;
}

#content>div:first-child {
    padding-top: 0;
}

#content>hr {
    margin: 0;
    border-top: 1px solid #eee;
}

#content h3.title {
    margin-top: 0;
    /* text-transform: uppercase; */
    font-weight: normal;
    font-size: 24px;
}

#content div.header {
    box-shadow: 3px 3px 5px 6px #cccccc;
    z-index: 1010;
    border-bottom: 1px solid #dedfe0;
    /* background-color: white; */
    padding: 70px 0;
    background-color: #187695;
    background-size: cover;
    background-position: 100%;
}

#content div.header .title {
    /* float: left; */
    margin: 0;
    color: white;
    /* text-transform: uppercase; */
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 50px;
    margin-bottom: 10px;
}

#content div.header .subtitle {
    /* float: left; */
    margin: 0;
    color: white;
    /* text-transform: uppercase; */
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 24px;
    margin-bottom: 10px;
}

.intro {
    text-align: center;
    margin-bottom: 7vh;
}

.intro h2 {
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    font-weight: normal;
}

.container h2 {
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.ContentSubtitle {
    margin-top: 5vh;
    border-bottom: 5px solid #209cc5;
}


/* 評價 */

.no_comment {
    margin-bottom: 3em;
}

.each_comment {
    border-top: 1px solid #dedfe0;
    display: flex;
}

.comment_by {
    width: 15%;
    margin: 10px
}

.comment_by p {
    color: #7e7e7e;
    line-height: 30px;
    font-size: 15px;
    font-family: "黑體";
}

.comment_content {
    width: 70%;
    margin: 30px;
}

.row>img {
    padding-left: 5px;
    padding-right: 5px;
}

.col-2 img {
    display: block;
    width: 20vh;
}

#footer {
    background: #f5f5f5;
    position: relative;
    padding: 80px 0;
}

#footer .logo {
    position: absolute;
    border: 5px solid #f5f5f5;
    padding: 20px;
    background: #fff;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

#footer .copyright {
    /* float: left; */
    text-transform: uppercase;
    letter-spacing: 2px;
}

#footer .copyright .subtitle {
    font-size: 12px;
    color: #323232;
}

#footer .social-media {
    float: right;
}

#footer .social-media li {
    float: left;
}

#footer .social-media a {
    display: inline-block;
    margin: 10px;
    border: 1px solid #222;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    color: #222;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

#footer.dark {
    padding: 0;
    background: #222;
}

#footer.dark .info {
    padding: 80px 0;
}

#footer.dark .info .title {
    margin: 0;
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
}

#footer.dark .info ul.common-list li {
    border-bottom: 1px solid #333;
}

#footer.dark .info ul.common-list li a {
    display: block;
    line-height: 45px;
    color: #a2a2a2;
    text-decoration: none;
    text-transform: capitalize;
}

#footer.dark .info ul.common-list li a:before {
    content: ">";
    margin-right: 10px;
}

#footer.dark .info .thumbnails li {
    float: left;
}

#footer.dark .info .thumbnails li a {
    display: inline-block;
    margin: 0 10px 10px 0;
}

#footer.dark .bottom {
    padding: 35px 0;
    background: #1b1b1b;
    color: #6f7273;
}

#footer.dark .bottom .copyright {
    margin-top: 10px;
    text-transform: capitalize;
}

#footer.dark .bottom .copyright a {
    color: white;
    text-decoration: none;
}

#footer.dark .social-media a {
    margin: 0;
    margin-left: 15px;
    border-color: #6f7273;
    color: #6f7273;
}

#go-top {
    position: fixed;
    right: 20px;
    bottom: 35px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}