.nav_item_bar>input#search {
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 35px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding-right: 45px;
    width: 200px;
    margin: 0px;
    margin-top: 1.7em;
}

.search-button {
    position: absolute;
    width: 70px;
    height: 40px;
    top: 30px;
    left: 24em;
    opacity: 0.01;
}

.nav_item_bar {
    /* display: flex; */
    align-items: center;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

.nav_item_bar>img {
    height: 44px;
    width: 50px
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}


/* 表格 */

.profile_class {
    width: 300px;
    border: 2px solid #ccc;
    text-align: -webkit-center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f1f1f1;
}

.user_info,
.profile_finish,
.teacher_class {
    width: 300px;
    border: 2px solid #ccc;
    border-top: none;
    text-align: -webkit-center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f1f1f1;
}

.profile_class:hover,
.user_info:hover,
.profile_finish:hover,
.teacher_class:hover {
    background-color: white;
}

img {
    display: block;
}

p {
    color: #7e7e7e;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: black;
}

input:focus {
    outline: none;
}

.container {
    display: block;
    width: 1170px;
    margin: 0 auto;
    clear: both;
}

.content_container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    clear: both;
}

#content .container {
    height: 30vh;
}

.container.full-width {
    width: 100%;
}

.clearfix:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding-bottom: 50px;
    margin: 0 -15px;
}

.col-2,
.col-3,
.col-4,
.col-6,
.col-12 {
    float: left;
    padding: 0 30px;
}

.col-2 {
    width: 16.66666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333%;
}

.profile_info {
    display: flex;
    margin-top: 50px;
}

.profile_class_info {
    margin-left: 30px;
    font-size: 20px;
    font-family: Microsoft JhengHei;
}

.profile_info>img {
    width: 200px;
}

.col-12 {
    width: 100%;
}

#logo {
    float: left;
    width: 100px;
    height: 100px
}

.search {
    padding: 0 12px;
    color: black;
    float: left;
    font-size: 20px;
    line-height: 100px;
    text-decoration: none;
    font-family: Microsoft JhengHei;
}

#nav {
    float: right;
    text-transform: uppercase;
    line-height: 100px;
}

#nav li {
    float: left;
}

#nav a {
    padding: 0 12px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: Microsoft JhengHei;
}

#nav .active a {
    color: #d6b161;
    font-family: Microsoft JhengHei;
}

.boundary:after {
    content: "|";
    font-size: 20px;
    padding: 0 12px;
}

#content>div {
    padding-top: 100px;
    padding-bottom: 300px;
}

#content h3.title {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 50px;
}


/* 
#content input {
    padding: 10px 60px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px
} */

#content div.header {
    margin: auto 0;
    padding: 20px 0;
    height: 50px;
    background-color: #1b1b1b;
}

.name {
    font-size: 40px;
    float: left;
    width: 60%;
    margin: 30px;
    padding: 10px;
    border: 0;
    border-bottom: 2px solid #fff;
    /* border-bottom: 2px solid #4d4d4d; */
    text-align: center;
    color: #fff;
    line-height: 1em;
    background-color: transparent;
}

.about_me {
    font-size: 20px;
    float: left;
    width: 60%;
    margin: 30px;
    /* height: 80px; */
    padding: 10px;
    border: 0;
    /* border-bottom: 2px solid #4d4d4d; */
    border-bottom: 2px solid #fff;
    text-align: center;
    color: #fff;
    text-align: left;
    line-height: 1.75em;
    background-color: transparent;
    outline: none !important;
}

.about_me::placeholder {
    font-size: 20px;
    text-align: center;
}

.small_icon {
    font-size: 20px;
    float: left;
    width: 50%;
    margin: 30px;
    padding: 10px;
    border-bottom: 2px solid #4d4d4d;
    /* border-bottom: 2px solid #fff; */
    text-align: center;
    /* color: #fff; */
}

.picture {
    display: flex;
    /* width: 30%;
    border-radius: 0 2px 8px 0 rgba(0, 0, 0, 0.12) */
}

.teacher_name {
    font-size: 25px;
    text-align: center;
    height: 100px;
    background-color: #ededed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    line-height: 4em;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 15px
}

.name::placeholder {
    color: white
}

textarea::placeholder {
    color: white
}

.teacher {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.teacher_detail {
    /* background-color: #ededed;s */
    font-family: "PingFang TC", "微軟正黑體", sans-serif;
    line-height: 1.5em;
    box-shadow: 0 2px 8px 0 #cccccc;
    background: linear-gradient(#02aab0, #00cdac);
}

.picture_circle {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
    font-family: 'object-fit: cover; object-position: bottom;';
    /* margin-left: 4.5em; */
    padding-top: 1.5em;
}

.user_picture {
    border-radius: 50%;
    overflow: hidden;
    height: 170px;
    width: 170px;
    border: 2px solid white;
    /* display: inline-block; */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
    float: left;
    margin: 10px;
}

.teacher_intro {
    margin: 30px;
}

.link_content {
    background-color: white;
    font-family: "PingFang TC", "微軟正黑體", sans-serif;
    line-height: 1.5em;
    box-shadow: 0 2px 8px 0 #cccccc;
    padding: 20px;
}

.user_link {
    font-size: 20px;
    margin-left: 10px;
    font-family: "PingFang TC", "微軟正黑體", sans-serif;
    margin-bottom: 15px;
}

.form-group {
    margin: 30px;
    margin-top: 15px;
    position: relative;
}

.input-group {
    position: relative;
    display: flex;
    border-collapse: separate;
}

.input-group-addon {
    padding: 11px 12px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    color: #29303b;
    text-align: center;
    background-color: #f2f3f5;
    border: 1px solid #cacbcc;
    border-radius: 2px;
}

.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.43;
    color: #29303b;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cacbcc;
    border-radius: 2px;
    box-shadow: none;
    transition: border-color ease-in-out .08s, box-shadow ease-in-out .08s;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.input-group-addon:first-child {
    border-right: 0;
}

.btn-primary {
    font-size: 15px;
    color: #fff;
    background-color: #00cdac;
    border: 1px solid transparent;
    padding: 10px;
}

.upload_button {
    margin-top: 20px;
    text-align: right;
}

#footer {
    background: #f5f5f5;
    position: relative;
    padding: 80px 0;
}

#footer .logo {
    position: absolute;
    border: 5px solid #f5f5f5;
    padding: 20px;
    background: #fff;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

#footer .copyright {
    float: left;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#footer .copyright .subtitle {
    font-size: 12px;
    color: #323232;
}

#footer .social-media {
    float: right;
}

#footer .social-media li {
    float: left;
}

#footer .social-media a {
    display: inline-block;
    margin: 10px;
    border: 1px solid #222;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    color: #222;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

#footer.dark {
    padding: 0;
    background: #222;
}

#footer.dark .info {
    padding: 80px 0;
}

#footer.dark .info .title {
    margin: 0;
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
}

#footer.dark .info ul.common-list li {
    border-bottom: 1px solid #333;
}

#footer.dark .info ul.common-list li a {
    display: block;
    line-height: 45px;
    color: #a2a2a2;
    text-decoration: none;
    text-transform: capitalize;
}

#footer.dark .info ul.common-list li a:before {
    content: ">";
    margin-right: 10px;
}

#footer.dark .info .thumbnails li {
    float: left;
}

#footer.dark .info .thumbnails li a {
    display: inline-block;
    margin: 0 10px 10px 0;
}

#footer.dark .bottom {
    padding: 35px 0;
    background: #1b1b1b;
    color: #6f7273;
}

#footer.dark .bottom .copyright {
    margin-top: 10px;
    text-transform: capitalize;
}

#footer.dark .bottom .copyright a {
    color: white;
    text-decoration: none;
}

#footer.dark .social-media a {
    margin: 0;
    margin-left: 15px;
    border-color: #6f7273;
    color: #6f7273;
}

#go-top {
    position: fixed;
    right: 20px;
    bottom: 35px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}